################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
build/
*.user
*.jfm
*.dbmdl
*.dt
