<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/7152ea8d-b241-48e0-8546-5b1007faae5a/resourcegroups/webmotors-for-containers/providers/Microsoft.Web/sites/webmotors-container</ResourceId>
    <ResourceGroup>webmotors-for-containers</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webmotors-container.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/7152ea8d-b241-48e0-8546-5b1007faae5a/resourcegroups/webmotors-for-containers/providers/Microsoft.ContainerRegistry/registries/registry20190311091002</ContainerResourceId>
    <ContainerResourceName>registry20190311091002</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20190311091002.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>040715ee-a64f-43a2-99da-8ccc5cc453d5</ProjectGuid>
  </PropertyGroup>
</Project>