<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <base href="~/">
    <title>WebMotors</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/materialize/dist/css/materialize.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .pl300 {
            padding-left: 300px;
        }

        .fixed-action-btn {
            bottom: 75px;
        }
    </style>
</head>

<body>
    <div class="progress" style="display:none;margin:0;padding:0;" id="ajax-preloader-progressbar">
        <div class="indeterminate"></div>
    </div>
    <header class="indigo darken-1">
        @*Menu Horizontal*@
        <nav role="navigation" class="indigo darken-1">
            <div class="nav-wrapper">
                <a id="logo-container" href="#" class="brand-logo"></a>
                <ul class="right hide-on-med-and-down">
                    @*<li><a href="#">Navbar Link</a></li>*@
                </ul>
            </div>
        </nav>
        @*Menu Horizontal - Fim*@
    </header>

    <div class="row" style="min-height: 400px;">


        <div class="col s12 m12 l12">
            <main class="">
                <div id="renderbody" class="container">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <footer class="page-footer indigo" style="margin-top:80px;">
        <div class="footer-copyright">
            <div class="container">
                © @DateTime.Now.Year Copyright
                <a class="grey-text text-lighten-4 right">WebMotors</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script src="~/js/genericAdmin.js"></script>
    <script src="~/js/jquery.autocomplete-address.min.js"></script>
    <script src="~/js/jquery.datatables.min.js"></script>
    @*<link href="~/lib/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />*@
    <link href="~/lib/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
    @*<link href="~/lib/datatables/media/css/dataTables.material.css" rel="stylesheet" />*@
    <script>
        $(document).ready(function () {

        $('.button-collapse').sideNav({
                menuWidth: 300, // Default is 300
                edge: 'left', // Choose the horizontal origin
                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true, // Choose whether you can drag to open on touch screens,
                onOpen: function (el) {
                    //$("header").addClass("pl300").animate(2);
                    //$("main").addClass("pl300").animate(2);
                    //$("footer").addClass("pl300").animate(2);
                }, // A function to be called when sideNav is opened
                onClose: function (el) {
                    //$("header").removeClass("pl300").animate(2);
                    //$("main").removeClass("pl300").animate(2);
                    //$("footer").removeClass("pl300").animate(2);
                }, // A function to be called when sideNav is closed
            });
        });



    </script>
    @RenderSection("scripts", required: false)
</body>
</html>